<div class="main-menu">
	<div class="row menu">
		<form>
		  <input id="email" type="text" name="email" placeholder="Email"><br>
		  <input id="username" type="text" name="username" placeholder="Username or Email"><br>
		  <input id="password" type="text" name="password" placeholder="Password">
		  <input class="btn-submit" id="login" type="button" value="Log In">
		  <input class="btn-submit" id="signup" type="button" value="Sign Up">

		  <div class="error"></div>
		</form>
	</div>
</div>
