<div class="main-menu">
	<div class="row menu">
		<form>
		  <input class="email" type="text" name="email" placeholder="Email"><br>
		  <input class="username" type="text" name="username" placeholder="Username or Email"><br>
		  <input class="password" type="text" name="password" placeholder="Password">
		  <input class="login" type="button" value="Log In" >
		  <input class="signup" type="button" value="Sign Up">

		  <div class="error"></div>
		</form>
	</div>
</div>
<div class="hidden section" id="login"></div>