<div class="profile">
	<h2>Player Profile</h2>
	{{!-- {{jsonPrint this}} --}}
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a id="dashboard-tab" href="#dashboard-content" aria-controls="dashboard-content" role="tab" data-toggle="tab">Dashboard</a></li>
	    <li role="presentation"><a id="account-tab" href="#account-content" aria-controls="account-content" role="tab" data-toggle="tab">Profile</a></li>
	    <li role="presentation" ><a id="map-tab" href="#map-content" aria-controls="map-content" role="tab" data-toggle="tab">Map</a></li>
	</ul>

	<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dashboard-content">

    <p>-- DASHBOARD --</p>



    </div>

    <div role="tabpanel" class="tab-pane" id="account-content">{{> account}}</div>

    <div role="tabpanel" class="tab-pane" id="map-content">{{> map}}</div>

  </div>

</div>	